<!DOCTYPE html>
<html>
<html>
<head>
    <title>History</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
</head>
<header>

    </nav>

</header>
<span id="content">

</span>
<footer id="contact">

</footer>

<div ng-app="myApp" ng-controller="myCtrl" ng-init="myFunc()">

    <div id="historylist" ng-repeat="i in historylist"  ng-click="listener($index)" style="">
        <div class="col-xs-3 col-md-3 col-sm-3">
            <h1 style="padding: 0;margin:2%;font-size: 100%; text-align: center;">[[i.fields.date]]</h1>
        </div>
        <div class="col-xs-3 col-md-3 col-sm-3">
            <h1 style="padding: 0;margin:2%; font-size: 100%; text-align: center;">[[i.fields.time]]</h1>
        </div>
        <div class="col-xs-3 col-md-3 col-sm-3">
            <h1 id="price" style="padding: 0;margin:2%; font-size: 100%; text-align: center;">[[i.fields.price]]  <img  style="width: 20%;" src="{%static 'Urgent/Garage/11G-History/2.png'%}"></h1>
        </div>
    </div>
</div>
</body>
<script>

    var app = angular.module('myApp', []);

    app.config(function($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
    app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    });
    app.controller('myCtrl', function($scope, $http ,$location, $window) {
        $scope.myFunc = function() {

            $http.get("{% url 'get_history' %}")
                .then(function(response) {

                    console.log(response.data);
                    $scope.historylist = response.data;


                }, function(response) {

                });
        }


    });
</script>
</html>
